# Ruby on Rails
*.log
*.pot
*.rbc
*/.config
*/.bundle
*/log/*
*/tmp/*
!/log/.keep
!/tmp/.keep
*.swp
*~
bin 

# Node.js and React
/node_modules
/dist
/.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
