# Ruby on Rails
*.log
*.pot
*.rbc
*/.config
*/.bundle
*/log/*
*/tmp/*
!/log/.keep
!/tmp/.keep
*.swp
*~
bin 

# Node.js and React
/node_modules
/dist
/.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/src/serverapp/tmp/cache/
server/src/serverapp/tmp/pids/server.pid
server/src/serverapp/tmp/cache/bootsnap/load-path-cache
server/src/serverapp/tmp/cache/bootsnap/
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/f4/042bf27ecb122f
/tmp/*
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/*
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/08/b7d404051e720f
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/15/59e39c33446ce3
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/18/9ee772fbde41f0
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/70/89de9de27cdcf8
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/71/19b310a5fc0741
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/7a/dd20250661b7e0
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/7d/67aa1056dcf607
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/d1/0a0b6a66b22e20
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/d3/7001dce08ec51e
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/f3/fd729406cc6319
server/src/serverapp/tmp/cache/bootsnap/compile-cache-iseq/f4/042bf27ecb122f
